* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.header {
  font-size: 20px;
  color: #f2f2f2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px 30px;
  background-color: #3F3244;
}

.header__title--styled {
  color: #34d1d1;
}

.header__name {
  text-align: right;
  font-weight: 600;
}

.pattern {
  margin: 30px;
}

.pattern__header {
  text-align: center;
  margin-bottom: 20px;
}

.pattern__divider {
  width: 100%;
  text-align: right;
}

.accordion {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
}

.accordion__tab {
  background-color: #f2f2f2;
  color: #666666;
  border-bottom: none;
  padding: 1em;
  border: 1px solid #ffffff;
  border-bottom: 1px solid #D1D2D3;
  grid-column-start: 1;
  grid-column-end: 5;
}

.accordion__tab--selected {
  background-color: #ffffff;
  font-weight: 600;
  border: 1px solid #D1D2D3;
  border-bottom: none;
  color: #666666;
}

.accordion__page {
  border: 1px solid #D1D2D3;
  border-top: none;
  display: none;
  grid-column-start: 1;
  grid-column-end: 5;
}

.accordion__page--selected {
  display: grid;
}

.accordion__image {
  height: 150px;
  width: 100%;
  background-color: #f2f2f2;
}

.accordion__content-wrapper {
  padding: 10px 20px;
}

.accordion__content-header {
  font-weight: 600;
}

/* Flexible Cards */

.flexible-cards {
  width: 90%;
  margin: auto;
}

.card {
  border: 1px solid #d1d2d3;
  margin: 10px;
}

.card__header {
  font-weight: 600;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__image {
  background-color: #f2f2f2;
  height: 150px;
}

.header-bar {
  background-color: #d1d2d3;
  padding-top: 20px;
  width: 90%;
  margin: auto;
  position: relative;
}

.header-bar--small {
  padding: 20px 0;
}

.header-bar__image {
  background-color: #f2f2f2;
  width: 50px;
  height: 50px;
  border: 1px solid #666666;
  border-radius: 100%;
  margin-left: 20px;
}

.header-bar__menu {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 35px;
  font-size: 1.3em;
  color: #666666;
}

.header-bar__link--hide {
  display: none;
}

.header-bar__link {
  font-size: 1.3em;
  padding: 30px;
  color: #666666;
  background-color: #f2f2f2;
}

.header-bar__link:first-of-type {
  margin-top: 20px;
}

.header-bar__link:last-of-type {
  padding: 0 10px 10px;
}

.header-bar__search {
  padding: 10px;
  font-size: 1.3em;
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #666666;
}

.header-bar__search::placeholder {
  font-weight: 300;
}

.view-code-button {
  background-color: #3F3244;
  color: #f2f2f2;
  display: block;
  width: 300px;
  padding: 20px;
  text-align: center;
  margin: auto;
  text-decoration: none;
}

@media (min-width: 750px) {
  .pattern__header {
    display: grid;
    grid-template-columns: 160px 1fr;
    text-align: left;
  }

  .accordion__tab {
    grid-row: 1;
    grid-column-start: auto;
    grid-column-end: auto;
    text-align: center;
  }

  .accordion__page {
    padding: 20px;
  }

  .accordion__page--selected {
    grid-template-columns: auto 1fr;
  }

  .accordion__image {
    height: 200px;
    width: 150px;
  }

  .flexible-cards {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }

  .card--big {
    grid-column: span 2;
  }

  .header-bar {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 0 20px;
  }

  .header-bar__image {
    margin: 0 20px 0 0;
  }

  .header-bar__menu {
    display: none;
  }

  .header-bar__nav {
    margin: 0;
    padding: 0;
  }

  .header-bar__link {
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #d1d2d3;
  }

  .header-bar__link:first-of-type {
    margin: 0;
  }

  .header-bar__link:last-of-type {
    padding: 20px 0; 
  }
}